.wrapper {
    max-width: 1204px;
    margin: auto;
}

.event {
    margin-bottom: 20px;
}

.event__image {
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 50%;
    height: 200px;
}

.event__thumbImage {
    width: 100%;
}

.event_image:hover {
    background-size: 200%;
}

.clear {
    clear: both;
}

#map {
    width: 100%;
    height: 400px;
}

.hide {
    display: none;
}

.modal {
    width: 90%;
    max-height: 90%;
}

#detailMap {
    height: 300px;
}