
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/modal';

@import 'transition';

@import 'modal';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.event {
  cursor: pointer;
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
  &.selected {
    background-color: #fcfff0;
  }
}
.event__figure {
  margin-bottom: 0;
  padding: 0;
}
.event__info {
  padding: 15px;
}
.event__thumbnail {
  width: 100%;
}
.fas {
  font-size: 15px;
  margin-right: 5px;
  color: #007bff;
}