<div class="row" ng-controller="listController">
    <h1 class="text-center">{{name}} {{date}}</h1>
    <div class="col right s12 m4">
        <p>
            <input type="checkbox" class="filled-in" id="free" name="free" ng-model="free" />
            <label for="free">Free Event</label>
        </p>
        <p>
            <input type="checkbox" class="filled-in" id="long-run" />
            <label for="long-run">Hide long-running events</label>
        </p>
        <div id="datepicker" date-picker ng-model="date"></div>
        <div>
            <h4>Categories</h4>
            <div class="chip" ng-repeat="c in categories" ng-click="selectCategory(c)">{{c}}</div>
        </div>
    </div>
    <div id="events" class="col s12 m8" ng-if="events.length != 0">
        <div class="event row" ng-repeat="event in events | isFree: free | filerCategory: selectedCategory">
            <div class="col s12 m4">
                <img ng-if="event.thumbImage" class="valign-wrapper event__thumbImage" ng-src="{{event.thumbImage}}" alt="{{event.name}}" />
                <img ng-if="!event.thumbImage" class="valign-wrapper event__thumbImage" src="/images/events.jpg" alt="{{event.name}}" />
            </div>
            <div class="col s12 m8">
                <h5><a href="#!/event/{{event.id}}"><span ng-bind-html="event.name | html"></span></a></h5>
                <div>Free Event: {{event.freeEvent}}</div>
                <div>{{event.startDate}} to {{event.endDate}}</div>
                <p><span ng-repeat="c in event.categories" class="chip">{{c.name}}</span></p>
                <a class="waves-effect waves-light btn save" ng-click="saveEvent(event)">{{(event.user_id == null ? 'Save' : 'Saved')}}</a>
                <a class="right waves-effect waves-light btn detail">Detail</a>
            </div>
        </div>
    </div>
    <div class="col s12 m8" ng-if="events.length == 0">
        No Events
    </div>
</div>